{% extends 'basic/main.html' %}
{% load static %}
{% block content %}
<div class="container p-3">
    <h4 class="p-1">Техника для жизни – просто, выгодно, надежно!</h4>
    <p class="lead p-1">
        Добро пожаловать в [Название Вашего Магазина] – ваш надежный онлайн-гипермаркет электроники и техники! <br>
        Мы не просто продаем товары – мы помогаем вам сделать правильный выбор и окружить себя качественной,
        умной и полезной техникой. Наша миссия – сделать передовые технологии доступными каждому, избавив вас от
        сложного поиска и переплат.
    </p>
    <h5 class="p-1">Почему выбирают нас?</h5>
    <ul class="list-group p-1">
        <li class="list-group-item">Огромный ассортимент: От мелкой кухонной помощницы до сложной климатической системы
            – тысячи товаров от ведущих мировых и отечественных производителей (таких как Philips, Samsung, BreezeHome,
            Vitek и многих других) всегда в наличии.</li>
        <li class="list-group-item">Достоверность и экспертиза: Мы тщательно отбираем поставщиков, проверяем качество и
            предоставляем полные, понятные описания и характеристики. Наши консультанты – настоящие эксперты, готовые
            помочь с выбором.</li>
        <li class="list-group-item">Доступные цены и выгода: Регулярные акции, скидки, кэшбэк и специальные предложения
            делают покупки еще приятнее. Мы работаем напрямую с производителями, чтобы предложить вам лучшую цену.</li>
        <li class="list-group-item">Удобство и скорость: Интуитивно понятный сайт, быстрый поиск, несколько вариантов
            оплаты и оперативная доставка по Москве – покупать у нас легко и комфортно.</li>
        <li class="list-group-item">Надежность и гарантии: Официальная гарантия на все товары, простой процесс возврата
            и обмена, а также профессиональный сервис – ваше спокойствие для нас важнее всего.</li>
    </ul>
    <p class="lead p-1">
        Мы стремимся быть не просто магазином, а вашим технологическим партнером. Доверьте нам заботу о вашем комфорте,
        и вы убедитесь – с [Название Вашего Магазина] техника работает на радость!
    </p>
    <h5 class="p-1">Сделайте шаг в мир умных технологий уже сегодня!</h5>
</div>
{% endblock %}